
.evid-menu > md-list {
  padding:0;
}

.evid-menu h3 {
  font-family: 'Inconsolata', monospace;
}

.md-list-item > md-icon:first-child:not(.md-avatar-icon), md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
  margin-right:16px;
}

.evid-api-version {
  color: #999;
  margin-left: 8px;
}

.evid-api {
  background-color:#fff;
}

.evid-api > md-toolbar > h2 {
  font-family: 'Inconsolata', monospace;
}

.evid-schema-table {
}

.evid-schema-table table {
  font-family: 'Inconsolata', monospace;
  font-size: 1.2em;
  width: 99%;
  border-spacing: 0;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 32px;
}

.evid-schema-table tr td {
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 12px 6px;
  margin: 0;
  font-size: 0.8em;
}

.evid-schema-table tr th {
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding: 12px 6px;
  margin: 0;
  font-size: 0.7em;
  font-weight: normal;
  text-align: left;
}

.evid-object-json {
  padding:16px;
  margin:0;
  line-height:24px;
  background-color:rgb(40,40,40);
  color:#eee;
}

.evid-property-type {
  font-weight:bold;
}

.evid-object-description {
  padding:16px;
}

.evid-api-description {
  padding-left:16px;
}

.evid-method-description {
  padding-left:16px;
}

.evid-object-json a {
  color:rgb(33,150,243);
}

.evid-object-json-key {
  color:#0dd52f;
}

.evid-object-json-pun {
  color:#0dd52f;
}

.evid-property {
  font-weight:bold;
}

.evid-property-required {
  font-weight:bold;
  border-bottom:1px dotted #444;
}

.evid-loader {
  background-color: rgb(187,222,251);
  height: 5px;
}

.evid-console-body {
  font-family: 'Inconsolata', monospace;
}

.evid-api-examples {
  margin-bottom: 128px;
}

.evid-api-example-source {
  padding: 8px;
  font-family: 'Inconsolata', monospace;
  background-color: #f8f8f8;
}

.hljs span {
  font-family: 'Inconsolata', monospace;
}

div[hljs] pre {
  margin: 0;
}
