
<md-toolbar class="md-toolbar-tools md-accent">
    <h2>{{ api.path }}</h2>
    <span flex></span>
    <span ng-if="api.version">Version {{ api.version }}</span>
    <!--
    <md-menu>
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin md-font-library="material-icons">menu</md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="version in api.versions">
                <md-button ng-click="ctrl.announceClick($index)">
                    <md-icon md-menu-align-target md-font-library="material-icons">build</md-icon> Version {{version.version}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    -->
</md-toolbar>

<md-tabs md-dynamic-height>
    <md-tab ng-repeat="(methodName, method) in methods" label="{{ methodName }}">
        <md-content ng-bind-html="method" flex></md-content>
    </md-tab>
</md-tabs>
